.header-component-container {
    position: sticky;
    top: 0;
    width: 100%;

    .header-component {
        max-width: 1400px;
        height: 60px;
        border-bottom: 1px solid var(--light-gray);
        margin: 0 auto;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-options {
            display: flex;
            align-items: center;
            gap: 1rem;
            width: 33%;

            p {
                font-size: 14px;
            }

            .currency-container,
            .language-container {
                cursor: pointer;

                svg {
                    width: 25px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    background: transparent;
                    justify-content: center;
                    border-radius: 50%;
                    transition: all .1s ease-out;
                }

                &:hover {

                    svg {
                        background-color: var(--light-gray);
                    }
                }
            }

            .language-container {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 30px;
                    height: 18px;
                    object-fit: cover;
                    border-radius: 2px;
                }
            }

            .currency-container {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }

        .header-title-container {
            width: 33%;
            text-align: center;
            display: flex;
            justify-content: center;

            .header-title {
                font-size: 28px;
                font-weight: 700;
                letter-spacing: 2px;
                cursor: pointer;
            }
        }

        .header-buttons {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;
            width: 33%;

            .cart-container,
            .search-container,
            .profile-container {
                min-width: 40px;
                max-width: 40px;
                min-height: 40px;
                max-height: 40px;
                display: flex;
                align-items: center;
                background: transparent;
                justify-content: center;
                border-radius: 50%;
                transition: all .1s ease-out;
                cursor: pointer;

                &:hover {
                    background-color: var(--light-gray);
                }
            }

            .input-container {
                position: relative;
                width: 100%;

                input {
                    background: var(--light-gray);
                    font-size: 16px;
                    width: 98%;
                    padding: 5px;
                    border-radius: 2px;
                    outline: none;
                    font-size: 14px;
                    animation: .5s appearInput forwards ease-in-out;
                }
            }

            .cart-container {
                position: relative;

                span {
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    width: 16px;
                    height: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    background: var(--secondary-color);
                    font-size: 10px;
                    font-weight: 700;
                    border-radius: 50%;
                }
            }
        }
    }

    .subheader-component {
        display: flex;
        justify-content: center;
        margin: 1rem;

        ul {
            display: flex;
            align-items: center;
            gap: 2rem;

            li {
                letter-spacing: 2px;
                cursor: pointer;
                transition: color .1s ease-out;

                &:hover {
                    color: var(--secondary-color);
                }
            }

            .selected {
                color: var(--secondary-color);
            }
        }
    }
}

@keyframes appearInput {
    from {
        clip-path: inset(0 0 0 100%);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}